.container {
  margin: 20px;
  background-color: white;
  border-radius: 40px;
  padding: 30px;
  text-align: justify;
  font-family: 'Nunito', sans-serif;
}

.title {
  margin-bottom: 0 !important;
  font-weight: 700;
}
