.backBtn {
  width: 50px;
  transition: transform 0.2s;
}

.backBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.headerContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f3f3f;
  padding: 20px 100px;
}

.fontSizeBtn {
  width: 50px;
  transition: transform 0.2s;
}

.fontSizeBtn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.mobileFont {
  display: none;
}

.postContainer {
  margin-top: 90px;
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    padding: 20px;
  }

  .mobileFont {
    display: block;
  }

  .desktopFont {
    display: none;
  }
}
