.backBtn {
  width: 50px;
}

.headerContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3f3f3f;
  padding: 20px 100px;
}

.fontSizeBtn {
  width: 50px;
}

.mobileFont {
  display: none;
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    padding: 20px;
  }

  .mobileFont {
    display: block;
  }

  .desktopFont {
    display: none;
  }
}
